.version.index{color:#0000EC;background-color:#9FB03C;}#muse_css_mq{background-color:#FFFFFF;}#page{z-index:1;min-height:438px;background-image:none;border-width:0px;border-color:#000000;background-color:transparent;padding-bottom:62px;width:100%;max-width:960px;margin-left:auto;margin-right:auto;}#u121{z-index:6;display:block;vertical-align:top;position:relative;margin-right:-10000px;margin-top:121px;width:13.55%;left:23.23%;}#ppu114-4{z-index:0;margin-right:-10000px;margin-top:183px;width:39.17%;margin-left:37.5%;}#pu114-4{z-index:2;width:100%;}#u114-4{z-index:2;display:block;vertical-align:top;position:relative;margin-right:-10000px;width:99.21%;}#u145-4{z-index:8;display:block;vertical-align:top;position:relative;margin-right:-10000px;margin-top:75px;width:101.07%;left:-1.07%;}#pu252{z-index:12;margin-top:-1px;width:60.11%;}#u252{z-index:12;background-color:transparent;position:relative;margin-right:-10000px;width:25.23%;left:49.56%;}#u266{z-index:16;background-color:transparent;position:relative;margin-right:-10000px;margin-top:1px;width:24.78%;}#u259{z-index:14;background-color:transparent;position:relative;margin-right:-10000px;width:25.23%;left:74.78%;}#u301{z-index:18;background-color:transparent;position:relative;margin-right:-10000px;width:25.23%;left:24.78%;}#u252_img,#u266_img,#u259_img,#u301_img{width:100%;}#u311-4{z-index:20;min-height:12px;background-color:transparent;font-size:9px;color:#2F122E;line-height:11px;margin-top:1px;position:relative;width:30.06%;}.css_verticalspacer .verticalspacer{height:calc(100vh - 513px);}.html{background:#180300 url("../images/the_lost_fleet_by_cedarctic-d8cflv6_blur.jpg?crc=3846667469") no-repeat center center scroll;background-size:cover;}body{position:relative;min-width:320px;}
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
  @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.ft14 {
font-size: 44px !important;
  color:pink;
  
}
.bg-blue{
background-color: ffffff00 !important;
  color:ffffff00;
}

i{
  
    color:ffffff00 !important;
}